doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')

    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") Microblog
          .nav-collapse
            ul.nav
              li.active
                a(href="/") 首页
              li
                a(href="/login") 登录
              li
                a(href="/reg") 注册
    #container.container  
       block content 
       hr
    footer
      p(style="text-align:center;")
        a(href="https://github.com/dkeYang/repositories",target="_blank") &copy;copyright dke 2017
  script(src="/javascripts/jquery-3.2.1.min.js")
  script(src="/javascripts/bootstrap.js")
